<table width="1006" border="0" cellpadding="0" cellspacing="0" align="center">
    <!--DWLayoutTable-->
    <tbody>
        <tr>
            <td width="243" rowspan="3" valign="top">
                <img src="~/images/index_01.gif" width="243" height="132" alt="">
            </td>
            <td width="763" height="32" valign="top">
                <img src="~/images/index_02.gif" width="762" height="32" alt="">
            </td>
        </tr>
        <tr>
            <td height="46" valign="top">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <!--DWLayoutTable-->
                    <tbody>
                        <tr>
                            <td width="642" height="46" valign="top">
                                <div class="dao">
                                    <a href="http://www.dcchemicals.com/">HOME</a>
                                    <a href="http://www.dcchemicals.com/products.html">PRODUCTS</a>
                                    <a href="http://www.dcchemicals.com/about_us.html" rel="nofollow">ABOUT US</a>
                                    <a href="http://www.dcchemicals.com/services.html" style="color:#FFFFFF;  font-size:14px" rel="nofollow">SERVICES</a>
                                    <a href="http://www.dcchemicals.com/Payment.html" rel="nofollow">ORDERING </a>
                                    <a href="http://www.dcchemicals.com/contact.html" rel="nofollow">CONTACT US</a>
                                </div>
                            </td>
                            <td width="121" align="center" valign="middle" bgcolor="#0066cc">
                                <a href="http://www.dcchemicals.com/userreg.html" style="color:#FFFFFF" rel="nofollow">LOGIN IN</a>
                                <br>
                                <a href="http://www.dcchemicals.com/userreg.html" style="color:#FFFFFF" rel="nofollow">REGISTER</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="54" valign="top" class="searchbackground">
                <form name="searchsoft" method="get" action="http://www.dcchemicals.com/productscha.asp">
                    <fieldset class="search">
                        <input name="Query" class="btn" type="submit" value="&#160;&#160;&#160;&#160;&#160;&#160;">
                        <input name="Title" type="text" class="box">
                    </fieldset>
                </form>
            </td>
        </tr>
    </tbody>
</table>

